html{
    background-image: url("OIP.jpg");
}
body{
    border-radius: 5px;
    font-family: 'Gill Sans';
    align-items: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

}
h1{
    color: rgb(80, 255, 10);
    font-size: 80px;
}
#rButton{
    background-color: rgb(255, 0, 0);
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.center {
    padding: 100px 0;
    text-align: center;
  }